.taxi-label{
    padding: 12px 0px 12px 4.5%;
    margin: 2rem 0px 0px 0px;
}
.taxi-label-text{
    font-size: 1.5rem;
    color: black;
    line-height: 3rem;
}
.taxi-label-icon{
    width: 3rem;
    height: 3rem;
    float: left;
    margin-right: 6px;
}
.taxi-icon-graphic--from{
    background: url("../img/from_dark.png") no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}
.taxi-icon-graphic--with{
    background: url("../img/taxi_dark.png") no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}
.taxi-icon-graphic--to{
    background: url("../img/to_dark.png") no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}

.taxi-estimate-search{
    margin-left: 5%;
    margin-right: 0%;
    margin-top: 0px;
    width: 85%;
}
.taxi-estimate-location{
    float: right;
    margin-right: 5%;
}


.taxi-checkbox--right{
    margin-right: 10%;
    text-align: right;
}
.taxi-button-center{
    text-align: center;
    margin-top: 2rem;
}

.taxi-suggestions-container{
     max-height: 4rem;
    overflow-x: hidden;
    margin-left: 60px;
    background-color: #f5f9f8;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.taxi-search-size{
    line-height: 3rem;
    margin-top: 6px;
    margin-bottom: 6px;
    text-align: center;
}

.taxi-suggestions-ul{
    width: 100% !important;
    padding-left: 1% !important;
    padding-right: 1% !important;
    top: 0px !important;
    left: 0px !important;
}
.taxi-suggestions-li{
    display: inline-block;
    width: 24%;
    text-align: center;
    border-left: 1px solid #222;
}
.address-suggestions-ul{
    top: 0px !important;
    left: 0px !important;
    overflow-x: hidden;
    overflow-y: scroll;
}
.address-suggestions-li{
    width: 100%;
    display: inline-block;
    height: 2em;
    line-height: 2em;
}
.taxi-suggestions-li:first-child{
    border-left: 0px solid black;
}
.taxi-suggestions-li > a, .address-suggestions-li > a {
    color: black;
}

.ui-helper-hidden-accessible {
    display:none;
}

.topcoat-overlay-bg, .topcoat-overlay{
    display: none;
}

.main-h1{
    color: #006fc8;
    font-size: 1.2em;
    text-align: center;
    line-height: 1.2em;
    padding-top: 1em;
   
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
}
.main-h2{
    color: #969992;
    font-size: 1em;
    text-align: center;
    line-height: 1em;
    padding-top: 0.2em;
    
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
}
.main-map-wrapper{
    position: relative;
    width: 380px;
    height: 380px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    
    transform-origin: center top;
    -ms-transform-origin: center top; /* IE 9 */
    -webkit-transform-origin: center top; /* Safari and Chrome */
}
.main-map-mask{
    position: absolute;
    top: 0px;
    left: 0px;
    background:url(../img/map_mask.png) 0 0 no-repeat;
    background-size: 100% 100%;
    width: 380px;
    height: 380px;
    pointer-events:none;
}
#main-map{
    width: 380px;
    height: 380px;
}
.main-map-loading{
    width: 380px;
    height: 380px;
    position: absolute;
    top: 0px;
    left: 0px;
    background-image: url(../img/map_loading.png);
    background-size: 100% 100%;
    
    transform-origin: center top;
    -ms-transform-origin: center top; /* IE 9 */
    -webkit-transform-origin: center top; /* Safari and Chrome */
}
.main-map-shadow{
    width: 380px;
    height: 70px;
    background: url(../img/map_shadow.png);
    position: absolute;
    top: 380px;
    background-size: 100% 100%;
}

.anim-bounceshadow{
    animation: bounceshadow 3s ease-in-out infinite alternate;
    -webkit-animation: bounceshadow 3s ease-in-out infinite alternate; /* Safari and Chrome */
}
.anim-bouncemap{
    animation: bouncemap 3s ease-in-out infinite alternate;
    -webkit-animation: bouncemap 3s ease-in-out infinite alternate; /* Safari and Chrome */
}

@keyframes bouncemap
{
    from {
        transform: scale3d(1,1,0);
    }
    to {
        transform: scale3d(0.8,0.8,0);
    }
}

@-webkit-keyframes bouncemap /* Safari and Chrome */
{
    from {-webkit-transform: scale3d(1,1,0)}
    to {-webkit-transform: scale3d(0.8,0.8,0)}
}

@keyframes bounceshadow
{
    from {transform: scale3d(1,1,0)}
    to {transform: scale3d(0.8,0.8,0)}
}

@-webkit-keyframes bounceshadow /* Safari and Chrome */
{
    from {-webkit-transform: scale3d(1,1,0)}
    to {-webkit-transform: scale3d(0.8,0.8,0)}
}
.main-menu-minimize{
    height: 42px;
    position: absolute;
    bottom: 9em;
    width: 100%;
    right: 0px;
}
.main-menu-minimize-arrow{
    background-image: url('../img/menu_top_arrow.png');
    background-repeat: no-repeat;
    background-position: 95% bottom;
    width: 100%;
    height: 100%;
    position: absolute;
}
.main-menu-minimize-bg{
    background-image: url('../img/menu_top_bg.png');
    background-repeat: repeat-x;
    background-position: bottom;
    width: 100%;
    height: 100%;
    position: absolute;
}
.main-menu{
    position: absolute;
    width: 100%;
    height: 9em;
    bottom: 0px;
    background-color: #288edf;
}
.main-menu>a{
    color: white;
    display: block;
    line-height: 2em;
    font-weight: 500;
    font-size: 1.5em;
    padding-left: 2em;
}
.main-menu>a:hover{
    color: #DDD;
}
.main-menu-container{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 9em;
}
.anim-slide-up{
    animation: slide-up 0.5s ease-in-out 1;
    -webkit-animation: slide-up 0.5s ease-in-out 1; /* Safari and Chrome */
    -webkit-animation-fill-mode: forwards;
}
.anim-slide-down{
    animation: slide-down 0.5s ease-in-out 1;
    -webkit-animation: slide-down 0.5s ease-in-out 1; /* Safari and Chrome */
    -webkit-animation-fill-mode: forwards;
}
@keyframes slide-down /* Safari and Chrome */
{
    from {transform: translate3d(0,0,0)}
    to {transform: translate3d(0,9em,0)}
}
@-webkit-keyframes slide-down /* Safari and Chrome */
{
    from {-webkit-transform: translate3d(0,0,0)}
    to {-webkit-transform: translate3d(0,9em,0)}
}

@keyframes slide-up /* Safari and Chrome */
{
    from {transform: translate3d(0,9em,0)}
    to {transform: translate3d(0,0,0)}
}
@-webkit-keyframes slide-up /* Safari and Chrome */
{
    from {-webkit-transform: translate3d(0,9em,0)}
    to {-webkit-transform: translate3d(0,0,0)}
}

.anim-scale-up{
    animation: scale-up 0.5s ease-in-out 1 alternate;
    -webkit-animation: scale-up 0.5s ease-in-out 1 alternate; /* Safari and Chrome */
    -webkit-animation-fill-mode: forwards;
}

@keyframes scale-up /* Safari and Chrome */
{
    from {transform: scale3d(1,1,0)}
    to {transform: scale3d(1.3,1.3,0)}
}
@-webkit-keyframes scale-up /* Safari and Chrome */
{
    from {-webkit-transform: scale3d(1,1,0)}
    to {-webkit-transform: scale3d(1.3,1.3,0)}
}

.anim-fade-in{
    animation: fade-in 1s ease-in-out 1 alternate;
    -webkit-animation: fade-in 1s ease-in-out 1 alternate; /* Safari and Chrome */
    -webkit-animation-fill-mode: both;
}
@keyframes fade-in /* Safari and Chrome */
{
    from {opacity: 0}
    to {opacity: 1}
}
@-webkit-keyframes fade-in /* Safari and Chrome */
{
    /* Take a look Effeckt.css */
    from {opacity: 0}
    to {opacity: 1}
}

.devination{
    position: absolute;
    left: 10px;
    bottom: 10px;
    background-image: url(../img/devination_transparent.png);
    width: 125px;
    height: 25px;
    background-size: 100% 100%;
}

.map-results{
    height: 100%;
    width: 100%;
}

.taxi-results{
    bottom: 0px;
    position: absolute;
    width: 100%;
}


/*MODAL*/
.md-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 50%;
    max-width: 630px;
    min-width: 320px;
    height: auto;
    z-index: 2000;
    visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}
 
.md-show {
    visibility: visible;
}
 
.md-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    visibility: hidden;
    top: 0;
    left: 0;
    z-index: 1000;
    opacity: 0;
    background-color: rgba(88,90,92,0.7);
    box-shadow: inset 0px 0px 115px 0px #000;
    -webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}
 
.md-show ~ .md-overlay {
    opacity: 1;
    visibility: visible;
}

/* Content styles */
.md-content {
	color: #000;
	background: #e5e9e9;
	position: relative;
	border-radius: 3px;
	margin: 0 auto;
}

.md-content h1 {
	margin: 0;
	padding: 0.4em;
	text-align: center;
	font-size: 2.4em;
	font-weight: 300;
	opacity: 0.8;
	background: rgba(0,0,0,0.1);
	border-radius: 3px 3px 0 0;
}

.md-content > div {
	padding: 15px 40px 30px;
	margin: 0;
	font-weight: 300;
	font-size: 1.15em;
}
.md-content > div > p {
    text-align: center;
}
.topcoat-overlay-buttons {
    margin-top: 20px;
    text-align: center;
}
.topcoat-overlay-buttons .topcoat-button,
.topcoat-overlay-buttons .topcoat-button--cta {
  margin: 5px;
}

/* Effect 1: Fade in and scale up */
.md-effect-1 .md-content {
	-webkit-transform: scale(0.7);
	-moz-transform: scale(0.7);
	-ms-transform: scale(0.7);
	transform: scale(0.7);
	opacity: 0;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.md-show.md-effect-1 .md-content {
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	opacity: 1;
}




.button-loading.topcoat-button--large--cta{
    padding-right: 60px;
    
}
.button-loading>#circularG{
    display: block;
}
#circularG {
    display: none;
position: absolute;
top: 23px;
right: 20px;
width: 20px;
height: 20px;
}

.circularG{
position:absolute;
background-color:#FFFFFF;
width:5px;
height:5px;
-webkit-border-radius:3px;
-webkit-animation-name:bounce_circularG;
-webkit-animation-duration:1.04s;
-webkit-animation-iteration-count:infinite;
-webkit-animation-direction:linear;
-ms-border-radius:3px;
-ms-animation-name:bounce_circularG;
-ms-animation-duration:1.04s;
-ms-animation-iteration-count:infinite;
-ms-animation-direction:linear;
border-radius:3px;
animation-name:bounce_circularG;
animation-duration:1.04s;
animation-iteration-count:infinite;
animation-direction:linear;
}

#circularG_1{
left:0;
top:8px;
-webkit-animation-delay:0.39s;
-ms-animation-delay:0.39s;
animation-delay:0.39s;
}

#circularG_2{
left:2px;
top:2px;
-webkit-animation-delay:0.52s;
-ms-animation-delay:0.52s;
animation-delay:0.52s;
}

#circularG_3{
top:0;
left:8px;
-webkit-animation-delay:0.65s;
-ms-animation-delay:0.65s;
animation-delay:0.65s;
}

#circularG_4{
right:2px;
top:2px;
-webkit-animation-delay:0.78s;
-ms-animation-delay:0.78s;
animation-delay:0.78s;
}

#circularG_5{
right:0;
top:8px;
-webkit-animation-delay:0.91s;
-ms-animation-delay:0.91s;
animation-delay:0.91s;
}

#circularG_6{
right:2px;
bottom:2px;
-webkit-animation-delay:1.04s;
-ms-animation-delay:1.04s;
animation-delay:1.04s;
}

#circularG_7{
left:8px;
bottom:0;
-webkit-animation-delay:1.17s;
-ms-animation-delay:1.17s;
animation-delay:1.17s;
}

#circularG_8{
left:2px;
bottom:2px;
-webkit-animation-delay:1.3s;
-ms-animation-delay:1.3s;
animation-delay:1.3s;
}

@-webkit-keyframes bounce_circularG{
0%{
-webkit-transform:scale(1)}

100%{
-webkit-transform:scale(.3)}

}

@-ms-keyframes bounce_circularG{
0%{
-ms-transform:scale(1)}

100%{
-ms-transform:scale(.3)}

}

@keyframes bounce_circularG{
0%{
transform:scale(1)}

100%{
transform:scale(.3)}

}






.page-transition-left-slide-in {
  -webkit-animation: slideInLeft 0.7s forwards ease-out;
  -o-animation: slideInLeft 0.7s forwards ease-out;
  animation: slideInLeft 0.7s forwards ease-out;
}
.page-transition-right-slide-in {
  -webkit-animation: slideInRight 0.7s forwards ease-out;
  -o-animation: slideInRight 0.7s forwards ease-out;
  animation: slideInRight 0.7s forwards ease-out;
}
@-webkit-keyframes slideInLeft {
  0% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@-o-keyframes slideInLeft {
  0% {
    -o-transform: translateX(100%);
    transform: translateX(100%);
  }

  100% {
    -o-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes slideInLeft {
  0% {
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%);
  }

  100% {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
}

@-webkit-keyframes slideInRight {
  0% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@-o-keyframes slideInRight {
  0% {
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
  }

  100% {
    -o-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes slideInRight {
  0% {
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
  }

  100% {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
}

@-webkit-keyframes slideInTop {
  0% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}



.page-transition-left-slide-out {
  -webkit-animation: slideOutLeft 0.7s forwards ease-out;
  -o-animation: slideOutLeft 0.7s forwards ease-out;
  animation: slideOutLeft 0.7s forwards ease-out;
}

.page-transition-right-slide-out {
  -webkit-animation: slideOutRight 0.7s forwards ease-out;
  -o-animation: slideOutRight 0.7s forwards ease-out;
  animation: slideOutRight 0.7s forwards ease-out;
}
@-webkit-keyframes slideOutLeft {
  0% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
  }

  100% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}

@-o-keyframes slideOutLeft {
  0% {
    -o-transform: translateX(0%);
    transform: translateX(0%);
  }

  100% {
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}

@keyframes slideOutLeft {
  0% {
    -webkit-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
    transform: translateX(0%);
  }

  100% {
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}

@-webkit-keyframes slideOutRight {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  100% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
}

@-o-keyframes slideOutRight {
  0% {
    -o-transform: translateX(0);
    transform: translateX(0);
  }

  100% {
    -o-transform: translateX(100%);
    transform: translateX(100%);
  }
}

@keyframes slideOutRight {
  0% {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }

  100% {
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%);
  }
}










@media (max-width:516px) and (max-height: 659px) {
    #main-map, .main-map-mask, .main-map-wrapper, .main-map-loading{
        width: 300px;
        height: 300px;
    }
    .main-map-shadow{
        width: 300px;
        height: 55px;
        top: 300px;
    }
}

@media (max-width:320px) and (max-height: 480px) {
    #main-map, .main-map-mask, .main-map-wrapper, .main-map-loading{
        width: 250px;
        height: 250px;
    }
    .main-map-shadow{
        width: 250px;
        height: 45px;
        top: 250px;
    }
    .main-h1{
        padding-top: 0.5em;
    }
    .main-h2{
        padding-top: 0.2em;
    }
}