.taxi-label{
    padding: 12px 0px 12px 4.5%;
    margin: 2rem 0px 0px 0px;
}
.taxi-label-text{
    font-size: 1.5rem;
    color: black;
    line-height: 3rem;
}
.taxi-label-icon{
    width: 3rem;
    height: 3rem;
    float: left;
    margin-right: 6px;
}
.taxi-icon-graphic--from{
    background: url("../img/from_dark.png") no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}
.taxi-icon-graphic--with{
    background: url("../img/taxi_dark.png") no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}
.taxi-icon-graphic--to{
    background: url("../img/to_dark.png") no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}

.taxi-estimate-search{
    margin-left: 5%;
    margin-right: 0%;
    margin-top: 0px;
    width: 85%;
}
.taxi-estimate-location{
    float: right;
    margin-right: 5%;
}


.taxi-checkbox--right{
    margin-right: 10%;
    text-align: right;
}
.taxi-button-center{
    text-align: center;
    margin-top: 2rem;
}

.taxi-suggestions-container{
     max-height: 4rem;
    overflow-x: hidden;
    margin-left: 60px;
    background-color: #f5f9f8;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.taxi-search-size{
    line-height: 3rem;
    margin-top: 6px;
    margin-bottom: 6px;
    text-align: center;
}

.taxi-suggestions-ul{
    width: 100% !important;
    padding-left: 1% !important;
    padding-right: 1% !important;
    top: 0px !important;
    left: 0px !important;
}
.taxi-suggestions-li{
    display: inline-block;
    width: 24%;
    text-align: center;
    border-left: 1px solid #222;
}
.address-suggestions-ul{
    top: 0px !important;
    left: 0px !important;
    overflow-x: hidden;
    overflow-y: scroll;
}
.address-suggestions-li{
    width: 100%;
    display: inline-block;
    height: 2em;
    line-height: 2em;
}
.taxi-suggestions-li:first-child{
    border-left: 0px solid black;
}
.taxi-suggestions-li > a, .address-suggestions-li > a {
    color: black;
}

.ui-helper-hidden-accessible {
    display:none;
}

.topcoat-overlay-bg, .topcoat-overlay{
    display: none;
}