.taxi-label{
    padding: 12px 0px 12px 4.5%;
    margin: 2rem 0px 0px 0px;
}
.taxi-label-text{
    font-size: 1.5rem;
    color: black;
    line-height: 3rem;
}
.taxi-label-icon{
    width: 3rem;
    height: 3rem;
    float: left;
    margin-right: 6px;
}
.taxi-icon-graphic--from{
    background: url("../img/from_dark.png") no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}
.taxi-icon-graphic--with{
    background: url("../img/taxi_dark.png") no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}
.taxi-icon-graphic--to{
    background: url("../img/to_dark.png") no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}

.taxi-estimate-search{
    margin-left: 5%;
    margin-right: 0%;
    width: 85%;
}
.taxi-estimate-location{
    float: right;
    margin-right: 5%;
}


.taxi-checkbox--right{
    margin-right: 10%;
    text-align: right;
}
.taxi-button-center{
    text-align: center;
    margin-top: 2rem;
}