<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
		xmlns:gap = "http://phonegap.com/ns/1.0"

        id        = "com.mindtricksdev.taxi"

        versionCode="1" 

        version   = "0.1">

    <name>Taxi</name>

    <description>Built for the people</description>


    <author href="http://mindtricksdev.com/apps/Taxi" email="support@mindtricksdev.com">Mind Tricks</author>

    <preference name="phonegap-version" value="2.9.0" />
    
    <preference name="orientation" value="portrait" />
    <preference name="fullscreen" value="true" />
    <preference name="webviewbounce" value="false" />
    <preference name="auto-hide-splash-screen" value="false" />
    <preference name="load-url-timeout" value="30000" />
    <preference name="target-device" value="universal" />

    <access origin="*" /> 
    
    <feature name="http://api.phonegap.com/1.0/geolocation"/>   
    
    
    
    <icon src="pg-build/icon/default.png" width="512" height="512"/>
    <icon src="pg-build/icon/bb.png" gap:platform="blackberry" />
    
    <gap:splash src="pg-build/splash/default.png" />
    <gap:splash src="pg-build/splash/winphone.jpg" gap:platform="winphone" />

</widget>